{% extends 'frontbase.html.twig' %}

{% block title %}ActuGames - Panier
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
            <div class="table-responsive">
                <table class="table bg-dark text-light">
                    <thead>
                        <tr>
                        <th>Miniature</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Qte</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Need for speed</td>
                            <td>44€</td>
                            <td><a href="" class="btn btn-sm btn-info mr-1"><i class="fa fa-plus"></i></a><input type="number" value="5"><a href="" class="btn btn-sm btn-info ml-1"><i class="fa fa-minus"></i></a></td>
                            <td>220 €</td>
                            <td><a href="" class="btn btn-danger" ><i class="fa fa-times"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
{% endblock %}
