body{
    background: url("../img/nfs.jpg")no-repeat;
    background-size: cover;
    object-fit: cover;
}

.form-content{
    max-width: 400px;
    background-color: #FFF;
    padding:30px;
    margin:0 auto;
    margin-top: 150px;
    border-radius: 16px;
}