.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 20px;
  }

.sidebar ul{
    list-style: none;
    margin-top: 60%;
}

.sidebar ul li{
    width: 200px;
    margin-bottom: 2rem;
}

.sidebar ul li a{
    text-decoration: none;
    font-family: 'Robot', sans-serif;
    font-weight: 300;
    color:floralwhite;
    transition: ease-in-out .3s;
}

.sidebar ul li a:hover{
    color:orangered;

}

body{
    background-image:url(../background_mario.jpg);
}

.content{
    padding: 3rem;
    margin-left: 200px;
    margin-right: auto;
}
.card{
    padding: 15px;
    border-radius: 16px!important;
}

.titreindex{
    text-align: center;

}



