.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #111;
    overflow-x: hidden;
    padding: 20px;
    transition: .3s;
    z-index: 9999;
  }

.closebtn{
    position:absolute;
    top: 15px;
    right: 15px;

}

.sidebar ul{
    list-style: none;
    margin-top: 60%;
}

.sidebar ul li{
    width: 200px;
    margin-bottom: 2rem;
}

.sidebar ul li a{
    text-decoration: none;
    font-family: 'Robot', sans-serif;
    font-weight: 300;
    color:floralwhite;
    transition: ease-in-out .3s;
}

.sidebar ul li a:hover{
    color:orangered;

}

.sidebar.active{
    left:0;
}


body{
    background-image:url(../background_mario.jpg);
}

.content{
    /* padding: 3rem; */
    margin-top: 3rem;
    margin-right: auto;
    transition: .3s;
}

.card{
    padding: 15px;
    border-radius: 16px!important;
}

.titreindex{
    text-align: center;

}

header{
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px
  }