.<div class="card text-left shadow-lg">
	<img class="card-img-top" src="holder.js/100px180/" alt="">
	<div class="card-body">
		<div class="form-group">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-dark mt-3">{{ button_label|default('Ajouter') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>
