{% extends 'base.html.twig' %}

{% block title %}New VideoGame{% endblock %}

{% block body %}
    <h1 class="titre">Create new VideoGame</h1>

    {{ include('video_game/_form.html.twig') }}

    <a href="{{ path('video_game_index') }}"class="btn btn-dark mt-3">back to list</a>
{% endblock %}
