{% extends 'base.html.twig' %}

{% block title %}GameKey index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-left shadow-lg">
			<div class="card-header">
				<h3 class="titreindex">Liste des clés de jeu</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								
								<th>Key</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for game_key in game_keys %}
								<tr>
									
									<td>{{ game_key.gameKey }}</td>
									<td>
										<a href="{{ path('game_key_show', {'id': game_key.id}) }}" class="btn btn-info">
											<i class="far fa-eye"></i>
										</a>
										<a href="{{ path('game_key_edit', {'id': game_key.id}) }}" class="btn btn-warning">
											<i class="far fa-edit"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<a href="{{ path('game_key_new') }}" class="btn btn-dark mt-3"><i class="fa fa-plus"></i></a>
			</div>
		</div>
		
	</div>


{% endblock %}
