{% extends 'base.html.twig' %}

{% block title %}Nouvelle clé CD
{% endblock %}

{% block body %}
	<div class="container">
        <div class="card">
		<div class="card-header">
			<h3 class="titreindex">Nouvelle clé CD</h3>
		</div>
        {{ include('game_key/_form.html.twig') }}
		<div class="card-footer">
        <a href="{{ path('game_key_index') }}"class="btn btn-dark mt-3"><i class="fa fa-arrow-left"></i></a>
		</div>
	</div>
    </div>
{% endblock %}
