{% extends 'base.html.twig' %}

{% block title %}Clé CD
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-left shadow-lg">
			<div class="card-header">
				<h3 class="titreindex">Clé CD</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<div class="table-responsive">
						<table class="table table-striped">
							<tbody>
								
								<tr>
									<th>Key</th>
									<td>{{ game_key.gameKey }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="d-flex flex-wrap justify-content-center">
					<a href="{{ path('game_key_index') }}" class="btn btn-dark"><i class="fa fa-arrow-left"></i></a>
					<a href="{{ path('game_key_edit', {'id': game_key.id}) }}" class="btn btn-dark ml-1"><i class="fa fa-edit"></i></a>
					{{ include('game_key/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
